$background_colors: (
  "greenBG": green,
  "redBG": red,
  "yellowBG": yellow,
  "blueBG": blue,
);

$hover_colors: (
  "greenHover": rgba(0, 128, 0, 0.664),
  "redHover": rgba(255, 0, 0, 0.63),
  "yellowHover": rgba(255, 255, 0, 0.582),
  "blueHover": rgba(0, 0, 255, 0.514),
);

$quarterPlacement: (
  "topLeft": 100% 0 0 0,
  "topRight": 0 100% 0 0,
  "bottomLeft": 0 0 0 100%,
  "bottomRight": 0 0 100% 0,
);

$breakpoints: (
  "576px": 576px,
  "768px": 768px,
  "992px": 992px,
  "1366px": 1366px,
);

/******************************************************* universal */
* {
  list-style: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: rgb(247, 194, 97);
  font-family: "Comfortaa", cursive;
}

body {
  cursor: default;
}

#title {
  text-align: center;
  font-size: 3.3em;
  margin-top: 0.5em;
}

/******************************************************* Quarters */
@mixin leftAndRight {
  top: 7em;
  position: absolute;
  cursor: pointer;
}

@mixin quarters($colorPlaceholder, $orderPlaceholder) {
  width: 10em;
  height: 10em;
  margin: auto;
  border: black solid 0.4em;
  background-color: $colorPlaceholder;
  border-radius: $orderPlaceholder;
}

@mixin hovers($hoversPlaceholder) {
  background-color: $hoversPlaceholder;
}

#left {
  @include leftAndRight;
  left: 0.1em;
  & #topLeft {
    @include quarters(
      map-get($background_colors, "greenBG"),
      map-get($quarterPlacement, "topLeft")
    );
  }
  & #topLeft:hover {
    @include hovers(map-get($hover_colors, "greenHover"));
  }

  & #bottomLeft {
    @include quarters(
      map-get($background_colors, "yellowBG"),
      map-get($quarterPlacement, "bottomLeft")
    );
  }
  & #bottomLeft:hover {
    @include hovers(map-get($hover_colors, "yellowHover"));
  }
}

#right {
  @include leftAndRight;
  right: 0.1em;
  & #topRight {
    @include quarters(
      map-get($background_colors, "redBG"),
      map-get($quarterPlacement, "topRight")
    );
  }
  & #topRight:hover {
    @include hovers(map-get($hover_colors, "redHover"));
  }
  & #bottomRight {
    @include quarters(
      map-get($background_colors, "blueBG"),
      map-get($quarterPlacement, "bottomRight")
    );
  }
  & #bottomRight:hover {
    @include hovers(map-get($hover_colors, "blueHover"));
  }
}

/******************************************************* middle circle */
@mixin middleCircle {
  height: 5em;
  width: 5em;
  background-color: white;
  border-radius: 100%;
  position: absolute;
  top: 6em;
  left: 2.5em;
  z-index: 1;
  border: black solid 0.3em;
  cursor: pointer;
  font-weight: 900;
  font-size: 2em;
}

#middle {
  @include middleCircle();
  &:focus {
    outline: none;
  }
  &:hover {
    background-color: whitesmoke;
  }
}

/******************************************************* scores & reset */
@mixin scoresAndReset {
  font-size: 2.5em;
  text-align: center;
  padding-top: 9.5em;
}

#scoresAndRestart {
  @include scoresAndReset();
}

#highScore {
  padding-top: 0.1em;
}

#restart {
  padding-top: 0.5em;
  cursor: pointer;
}

/******************************************************* breakpoints */
@media (min-width: map-get($breakpoints, "576px")) {
  #left {
    left: 8.1em;
  }

  #right {
    right: 8.1em;
  }

  #middle {
    left: 6.5em;
  }
}
@media (min-width: map-get($breakpoints, "768px")) {
  #left {
    left: 14.1em;
  }

  #right {
    right: 14.1em;
  }

  #middle {
    left: 9.5em;
  }
}
@media (min-width: map-get($breakpoints, "992px")) {
  #left {
    left: 21.1em;
  }

  #right {
    right: 21.1em;
  }

  #middle {
    left: 13em;
  }
}
@media (min-width: map-get($breakpoints, "1366px")) {
  #left {
    left: 33.1em;
  }

  #right {
    right: 32.4em;
  }

  #middle {
    left: 19em;
  }
}
