$background_colors: (
  "greenBG": green,
  "redBG": red,
  "yellowBG": yellow,
  "blueBG": blue,
);

$hover_colors: (
  "greenHover": rgba(0, 128, 0, 0.664),
  "redHover": rgba(255, 0, 0, 0.76),
  "yellowHover": rgba(255, 255, 0, 0.582),
  "blueHover": rgba(0, 0, 255, 0.349),
);

$quarterPlacement: (
  "topLeft": 100% 0 0 0,
  "topRight": 0 100% 0 0,
  "bottomLeft": 0 0 0 100%,
  "bottomRight": 0 0 100% 0,
);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: lightskyblue;
  font-family: "Comfortaa", cursive;
}

body {
  cursor: default;
}

#title {
  text-align: center;
  font-size: 3.3em;
  margin-top: 1em;
}

@mixin leftAndRight {
  top: 12em;
  position: absolute;
  cursor: pointer;
}

@mixin quarters($colorPlaceholder, $orderPlaceholder) {
  width: 10em;
  height: 10em;
  margin: auto;
  border: black solid 0.4em;
  background-color: $colorPlaceholder;
  border-radius: $orderPlaceholder;
}

@mixin hovers($hoversPlaceholder) {
  background-color: $hoversPlaceholder;
}

#left {
  @include leftAndRight;
  left: 0.1em;
  & #topLeft {
    @include quarters(
      map-get($background_colors, "greenBG"),
      map-get($quarterPlacement, "topLeft")
    );
  }
  & #topLeft:hover {
    @include hovers(map-get($hover_colors, "greenHover"));
  }

  & #bottomLeft {
    @include quarters(
      map-get($background_colors, "yellowBG"),
      map-get($quarterPlacement, "bottomLeft")
    );
  }
  & #bottomLeft:hover {
    @include hovers(map-get($hover_colors, "yellowHover"));
  }
}

#right {
  @include leftAndRight;
  right: 0.1em;
  & #topRight {
    @include quarters(
      map-get($background_colors, "redBG"),
      map-get($quarterPlacement, "topRight")
    );
  }
  & #topRight:hover {
    @include hovers(map-get($hover_colors, "redHover"));
  }
  & #bottomRight {
    @include quarters(
      map-get($background_colors, "blueBG"),
      map-get($quarterPlacement, "bottomRight")
    );
  }
  & #bottomRight:hover {
    @include hovers(map-get($hover_colors, "blueHover"));
  }
}

@mixin middleCircle {
  height: 10em;
  width: 10em;
  background-color: white;
  border-radius: 100%;
  position: absolute;
  top: 21em;
  left: 7em;
  z-index: 1;
  border: black solid 0.5em;
  cursor: pointer;
}

@mixin startBtn {
  display: inline;
  background-color: white;
  font-size: 2.4em;
}

#middle {
  @include middleCircle();
  &:focus {
    outline: none;
    
  }
  & #start {
    @include startBtn();
  }
}
